################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/02_Timer/obj
/03_ColorCreater/obj/Debug/net9.0-windows/App.g.i.cs
/03_ColorCreater/obj/Debug/net9.0-windows/ColorCreater.AssemblyInfo.cs
/03_ColorCreater/obj/Debug/net9.0-windows/ColorCreater.AssemblyInfoInputs.cache
/03_ColorCreater/obj/Debug/net9.0-windows/ColorCreater_MarkupCompile.i.cache
/03_ColorCreater/obj/Debug/net9.0-windows/ColorCreater_MarkupCompile.i.lref
/03_ColorCreater/obj/Debug/net9.0-windows/GeneratedInternalTypeHelper.g.i.cs
/03_ColorCreater/obj/Debug/net9.0-windows/MainWindow.g.i.cs
/03_ColorCreater/obj/Release/net9.0-windows
/02_Timer/bin/Debug/net9.0-windows
/01_counter/obj/Release/net8.0-windows
/04_UnitConverter/obj
/05_TicTacToe/bin
/05_TicTacToe/obj
/01_counter/bin
/01_counter/obj
/02_Timer/bin
/03_ColorCreater/bin
/03_ColorCreater/obj
/04_UnitConverter/bin
/06_MarkdownPreviewer/bin
/06_MarkdownPreviewer/obj
/07_JsonNotepad/bin
/07_JsonNotepad/obj
